:root {
    /* colors */
    --color-text: #fff;
    --color-primary: #576c57;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /* Font */
    --font-robot: "Roboto";
}